.About {
  composes: page from global;

  display: flex;
  background-color: $wildSand;

  .left,
  .right {
    @include column;
    position: relative;
    height: 100%;
    z-index: 2;

    .top {
      position: absolute;
      top: 70px;
      left: 50%;
    }
  }

  .left {
    border-right: 1px solid $silver;

    .top {
      transform: translateX(-50%) rotate(-90deg);

      .text {
        margin-left: 20px;

        span {
          display: block;
          padding-top: 6px;
        }
      }

      .close {
        transform: translate(3px, -3px) rotate(45deg);
      }
    }
  }

  .center {
    flex: 1;
    z-index: 1;

    .top,
    .bottom {
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: $wildSand;
      overflow: hidden;
    }

    .title {
      position: absolute;
      z-index: 1;
      left: 50%;
      user-select: none;
    }

    .hidden {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      user-select: none;
    }

    .top {
      top: 0;
      border-bottom: 1px solid $silver;

      .title {
        bottom: 0;
        transform: translate(-50%, 50%);
      }
    }

    .bottom {
      bottom: 0;
      border-top: 1px solid $silver;

      .title {
        top: 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  .right {
    border-left: 1px solid $silver;

    .top {
      transform: translateX(-50%);
    }
  }
}
