$offset: 15%;

.List {
  position: relative;
  height: 100%;
  user-select: none;
  // height: 85%;
  // margin-top: 15%;

  .indicator {
    position: absolute;
    top: 0;
    left: -2px;
    display: inline-block;
    height: 70px;
    width: 3px;
    background-color: $mercury;
  }

  .container {
    height: 100%;
    overflow: hidden;
    margin-left: 70px;
  }

  .wrapper {
    padding: $offset 0;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
