.List {
  position: relative;
  height: 100%;
  user-select: none;

  .indicator {
    position: absolute;
    top: 0;
    left: -2px;
    display: inline-block;
    height: 70px;
    width: 3px;
    background-color: $mercury;
    z-index: 3;
  }

  .container {
    height: 100%;
    overflow: hidden;
    padding-left: 70px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .wrapper {
    padding: 15% 0;
    will-change: transform;
  }
}
