.title,
.name {
  font-family: $font;
  text-transform: uppercase;
  color: $mineShaft;
}

.title {
  font-size: 80px;
}

.name {
  font-size: 60px;
}

.subtitle {
  font-family: $font;
  font-size: 10px;
  font-weight: 900;
  color: $silver;
}

.text {
  font-family: $font;
  font-size: 16px;
  color: $mineShaft;
}

.negative {
  color: $mercury;
}
