.title {
  font-family: sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.subtitle {
  font-family: sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.text {
  font-family: sans-serif;
  font-size: 16px;
}
