.title {
  font-family: $font;
  font-size: 80px;
  text-transform: uppercase;
  color: $mineShaft;
}

.subtitle {
  font-family: $font;
  font-size: 10px;
  font-weight: 900;
  color: $silver;
}

.text {
  font-family: $font;
  font-size: 16px;
  color: $mineShaft;
}
