.Home {
  composes: page from global;

  display: flex;
  background-color: $wildSand;

  .left,
  .right {
    @include column;
    position: relative;
    height: 100%;
    z-index: 2;
  }

  .top,
  .bottom {
    position: absolute;
    left: 50%;
  }

  .left {
    border-right: 1px solid $silver;

    .top {
      top: 70px;
      transform: translateX(-50%) rotate(45deg);
    }

    .bottom {
      bottom: 70px;
      transform: translateX(-50%) rotate(225deg);
    }
  }

  .center {
    flex: 1;
  }

  .right {
    border-left: 1px solid $silver;

    .top {
      top: 70px;
      transform: translateX(-50%);
    }

    .bottom {
      bottom: 70px;
      transform: translateX(-50%) rotate(-90deg);

      .text {
        margin-left: 20px;

        span {
          display: block;
          padding-top: 6px;
        }
      }
    }
  }
}
