.Preview {
  position: absolute;
  display: flex;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40%;
  transform: translateY(-50%);
  z-index: 2;
  overflow: hidden;
  user-select: none;

  .shutter {
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .top,
    .bottom {
      box-sizing: border-box;
      position: absolute;
      height: 50%;
      width: 100%;
      overflow: hidden;
      border-style: solid;
      border-color: $tundora;
    }

    .top {
      top: 0;
    }

    .bottom {
      bottom: 0;
    }
  }

  .left,
  .right {
    @include column;
    position: relative;
    height: 100%;

    .overlay {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-color: $tundora;
      border-bottom-width: 1px;
      border-top-width: 1px;
    }

    .shutter {
      position: absolute;

      .top,
      .bottom {
        background-color: $mineShaft;
        border-style: solid;
        border-color: $tundora;
      }

      .top {
        border-bottom-width: 1px;
      }

      .bottom {
        border-top-width: 1px;
      }
    }
  }

  .left {
    border-right: 1px solid $tundora;

    .icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    .icon,
    .cursor {
      width: 15px;
      display: block;
      margin: 20px 0;
    }

    .cursor {
      width: 13px;
    }
  }

  .center {
    position: relative;
    flex: 1;
    cursor: pointer;

    .text {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      margin-left: 70px;
      transform: translateY(-50%);
    }

    .shutter {
      .top div,
      .bottom div {
        height: 100%;
        width: 100%;
        background-color: $mineShaft;
        z-index: 1;
        overflow: hidden;
      }

      .top {
        border-bottom-width: 1px;
      }

      .bottom {
        border-top-width: 1px;
      }
    }
  }

  .right {
    position: relative;
    border-left: 1px solid $tundora;

    .overlay {
      z-index: 1;
    }

    .iframe {
      position: absolute;
      width: auto;
      height: 100%;
      text-align: center;
    }
  }
}
