//////////////////////////
//     BREAKPOINTS      //
//////////////////////////

$xs: 480;
$sm: 768;
$md: 992;
$lg: 1200;
$xl: 1441;

$hxs: 400;
$hsm: 500;

//////////////////////////
//        COLORS        //
//////////////////////////

$black: #000;
$white: #fff;

$wildSand: #f5f5f5; // Background on clear theme
$mineShaft: #202020; // Title color
$silver: #a3a3a3; // Subtitle color, separator

//////////////////////////
//        FONTS         //
//////////////////////////

$font: 'Panamera', sans-serif;

//////////////////////////
//        MIXINS        //
//////////////////////////

@mixin breakpoint($point) {
  @media (min-width: $point + 'px') {
    @content;
  }
}
