//////////////////////////
//     BREAKPOINTS      //
//////////////////////////

$xs: 480;
$sm: 768;
$md: 992;
$lg: 1200;
$xl: 1441;

$hxs: 400;
$hsm: 500;

//////////////////////////
//        COLORS        //
//////////////////////////

$black: #000;
$white: #fff;

//////////////////////////
//        FONTS         //
//////////////////////////

$font: 'Panamera', sans-serif;

//////////////////////////
//        MIXINS        //
//////////////////////////

@mixin breakpoint($point) {
  @media (min-width: $point + 'px') {
    @content;
  }
}
