.Preview {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .shutter {
    cursor: grab;

    .top,
    .bottom {
      position: absolute;
      height: 50%;
      width: 100%;
      background-color: $wildSand;
      z-index: 1;
      overflow: hidden;
      border-style: solid;
      border-color: $silver;
    }

    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .top {
      top: 0;
      border-bottom-width: 1px;
    }

    .bottom {
      bottom: 0;
      border-top-width: 1px;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .left,
  .right {
    @include column;
    position: relative;
    height: 100%;
  }

  .left {
    .icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    .icon,
    .cursor {
      width: 15px;
      display: block;
      margin: 20px 0;
    }

    .cursor {
      width: 13px;
    }
  }

  .center {
    position: relative;
    flex: 1;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    .overlay,
    .iframe {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      width: 300px;
      text-align: center;
    }
  }
}
